.footPage {
  margin-top: 50px;
  height: auto;
  padding: 0.85rem;
  display: block;
  font-size: 1.5rem;
  // background-color: $color-1;
  color: black;
  background: linear-gradient(to left, white, green);

  a {
    color: black;
  }
  div {
    display: flex;
    justify-content: center;
  }
  .socialNetwork {
    ul {
      display: flex;
      i {
        margin: 0 10px;
      }
    }
  }
  .allLinks {
    // background-color: $color-3;
    display: flex;
    *{
      margin: 0 10px
    }
    @media screen and (max-width: 1050px) {
      display: block;
    }
  }
  .contact {
    // background-color: $color-4;
    *{
      margin: 0 10px
    }
  }
  .signature {
    // background-color: $color-1;
  }
}

@media screen and (max-width: 1050px) {
 
}