.admissionFile,
.fees {
  @include default;
}

.admissionFile,
.fees {
  h2 {
    margin-bottom: 20px;
  }
  .files {
    .file {
      display: flex;
      margin-bottom: 0.67rem;

      i {
        margin-right: 5px;
      }
    }
  }
}

.fees {
  h3 {
    span {
      text-decoration: underline;
    }
  }
  .prices {
    width: 100%;
    height: 500px;
    border: 0 transparent solid;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
    text-align: center;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(7, auto);
    grid-gap: 10px;
    background: green;
    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 600px) {
    .prices{
      grid-gap: 5px;
      .cell{
        font-size: 0.8rem;
      }
    }
  }
}
